.copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  min-width: 128px;
}

.copyright__text {
  padding-right: 12px;
  font-size: 14px;
  line-height: 21px;
}
