.copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    color: #81b3d2;
    outline: none;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright svg {
  flex-shrink: 0;
  fill: currentColor;
}

.copyright__text {
  margin-right: 12px;
}
