.form {
  @media (min-width: $tablet-width) {
    padding: 39px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 120px 40px;
  }
}

.form__wrapper-fieldset {
  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 18px;
      bottom: 0;
      left: 50%;
      width: 1px;
      background-color: #dbdbdb;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      left: 51.4%;
    }
  }
}

.form__fieldset-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.form__wrapper-fieldset .form__fieldset-title {
  @media (min-width: $desktop-width) {
    padding-left: 12px;
  }
}

.form__wrapper-fieldset .form__fieldset {
  @media (min-width: $tablet-width) {
    padding-top: 39px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 24px 20px 26px;
  border: none;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0;
    border: none;
  }
}

.form__fieldset--data .form__contact-list {
  @media (min-width: $tablet-width) {
    padding-right: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }
}

.form__fieldset--contact {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form__fieldset--contact .form__contact-list {
  @media (min-width: $tablet-width) {
    padding-left: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 77px;
  }
}

.form__contact-item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.form__contact-label {
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding-left: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  color: #000000;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center right -4px;
  border: 4px solid transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &--phone {
    padding-right: 60px;
    background-image: url("../img/phone.svg");
  }

  &--mail {
    padding-right: 60px;
    background-image: url("../img/mail.svg");
  }
}

.form__fieldset--feedback {
  padding-top: 27px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-bottom: 13px;
  }
}

.form__options {
  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0 36px;
    gap: 16px 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 19px 54px 16px;
    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }
}

.form__fieldset--attractions .form__options {
  @media (min-width: $tablet-width) {
    padding: 0 84px;
    gap: 16px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 45px;
    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__options-label {
  position: relative;
  display: block;
  min-height: 46px;
  padding: 10px 0 10px 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__options-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.form__options-label:hover::before {
  background-color: #e5e5e5;
  outline: none;
}

.form__options-label:active::before {
  background-color: #d5d5d5;
}

.form__options-label--radio::before {
  border-radius: 50%;
}

.form__options-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

.form__options-input:checked + .form__options-label--radio::after {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.form__fieldset--attractions {
  padding-bottom: 23px;

  @media (min-width: $desktop-width) {
    padding-bottom: 36px;
  }
}

.form__options-label--check::after {
  display: none;
  width: 22px;
  height: 16px;
}

.form__options-input:checked + .form__options-label--check::after {
  display: block;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form__options-input:focus + .form__options-label::before {
  background-color: #e5e5e5;
  outline: none;
}

.form__options-input:active + .form__options-label::after {
  opacity: 0.3;
}

.form__options-input:disabled + .form__options-label {
  opacity: 0.5;
}

.form__fieldset--recall {
  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.form__feedback {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  resize: none;

  @media (min-width: $tablet-width) {
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 770px;
    height: 160px;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.form__fieldset--submit {
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 96px 33px;
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__note {
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    color: #333333;
  }
}

.form__fieldset-title--lines {
  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;
    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: middle;
    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: $tablet-width) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    margin-right: -100%;
  }
}
