.modal__title {
  font-size: 21px;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
}

.modal__button {
  width: 180px;
  background-color: #81B3D2;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__button-success {
  width: 280px;
  background-color: #81B3D2;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__wrapper-text {
  margin-bottom: 28px;
}
