.nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.nav__list {
  @media (min-width: $tablet-width) {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #ffffff;
  }
}

.nav--opened .nav__list {
  display: block;
}

.nav__toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 6;
  width: 23px;
  height: 22px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px #81b3d2, 0 18px #81b3d2;
}

.nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px rgba(129, 179, 210, 0.3), 0 18px rgba(129, 179, 210, 0.3);
}

.nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px rgba(129, 179, 210, 0.6), 0 18px rgba(129, 179, 210, 0.6);
}

.nav--opened .nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 26px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    top: 11px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
