.nav__logo {
  margin: 0 auto;
}

.nav__list {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.menu-list__item {
  padding-top: 17px;
  padding-bottom: 12px;
}
