.nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.nav__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #ffffff;
  }
}

.nav--opened .nav__list {
  display: block;
}

.nav__toggle {
  display: none;
}
