.photo {
  @media (min-width: $tablet-width) {
    padding: 46px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 0;
  }
}

.photo__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo__item {
  position: relative;
  padding: 24px 20px 13px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.photo__image {
  display: block;
  height: 280px;

  @media (min-width: $tablet-width) {
    height: 267px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.photo__item:first-child .photo__image {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.photo__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.photo__container {
    @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 20px 15px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 21px 14px 25px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__item:first-child .photo__container {
  @media (min-width: $tablet-width) {
    padding: 21px 20px 17px;
  }
}

.photo__item:nth-child(3n) .photo__container {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__description {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
    color: #ffffff;
  }
}

.photo__item:first-child .photo__title {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo__author {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.photo__like {
  display: grid;
  grid-template-columns: auto auto;
  gap: 14px;
  align-items: baseline;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.photo__like span {
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    color: inherit;
  }
}

.photo__like svg {
  fill: currentColor;
}
