.reasons__number,
.reasons__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.reasons__item--full .reasons__container {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 18px;
}

.reasons__container {
  background-color: #d6d6d6;
}

.reasons__attractions-icon {
  display: grid;
  padding: 0;
}

.reasons__wrapper .reasons__container {
  padding: 21px 20px 35px;
  background-color: #81b3d2;
}
