@import "../global/variables";

.reasons__number,
.reasons__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.reasons__container {
  background-color: #d6d6d6;

  @media (min-width: $tablet-width){
    flex-basis: 256px;
  }

  @media (min-width: $desktop-width){
    flex-basis: 400px;
  }
}

.reasons__item--full .reasons__container {
    padding: 37px 18px;
}

.reasons__attractions-icon {
  display: grid;
  padding: 0;
}

.reasons__attractions-item--motel {
  background-image: url("../../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 39px 37px;
}

.reasons__attractions-item--meal {
  background-image: url("../../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 35px;
}

.reasons__attractions-item--souvenirs {
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
}

.reasons__wrapper .reasons__container {
  padding: 21px 20px 35px;
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.reasons__wrapper--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.reasons__attractions-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex: 256px;
  }
}

.reasons__attractions {
  justify-content: space-between;
  text-align: center;

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
  @media(min-width:$desktop-width) {
    grid-template-columns: repeat(3, 400px);
  }
}
