.search__wrapper {
  margin: 0;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  padding-top: 38px;
}

.search__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 32px;
}

.search__button {
  background-color: #81b3d2;
  color: #ffffff;
  width: 284px;
  padding: 16px 49px;
  font-size: 21px;
  text-decoration: none;
}
