.search {
  padding-top: 38px;
}

.search__wrapper {
  padding-bottom: 49px;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
}

.search__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 32px;
}
