.search {
  padding-top: 25px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.search__text {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.search__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.search__wrapper {
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
}

.search__button {
    @media (min-width: $tablet-width) {
    width: 458px;
  }
}
