.search {
  padding-top: 38px;
}

.search__title {
  font-size: 30px;
  line-height: 26px;
}

.search__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 32px;
}

.search__wrapper {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 435px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.search__button {
  width: 284px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
   width: 458px;
   margin-bottom: 66px;
  }
}
