.video {
  padding: 17px 20px 0;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 12px 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-bottom: 44px;
  }
}

.video__title {
  margin: 0 0 28px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video__description {
  margin: 0 0 38px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    max-width: 460px;
    margin: 0 auto 91px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__image {
  position: relative;
  height: 177px;

  @media (min-width: 768px) {
    height: 500px;
  }

  @media (min-width: 1200px) {
    width: 800px;
    margin: 0 auto;
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/play-video.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
