*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 400;
  width: 320px;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}

.nav__logo {
  position: absolute;
  display: block;
  width: 185px;
  height: 96px;
  left: 67px;
}

.nav__list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.welcome__wrapper {
  background-image: url("../../img/mountins.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome__mountains {
  display: block;
  margin: 0 auto;
}

.welcome__description {
  padding-right: 18px;
  padding-left: 18px;
}

.welcome__title {
  font-weight: 700;
  font-size: 18px;
}

.welcome__overview {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.reasons__number,
.reasons__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.reasons__item--full .reasons__container {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 18px;
}

.reasons__container {
  background-color: #d6d6d6;
}

.reasons__attractions-icon {
  display: grid;
  padding: 0;
}

.reasons__wrapper .reasons__container {
  padding: 21px 20px 35px;
  background-color: #81b3d2;
}

.search {
  padding-top: 38px;
}

.search__wrapper {
  padding-bottom: 49px;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
}

.search__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer {
  padding-top: 29px;
}

.footer__hashtag {
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-bottom: 34px;
  display: block;
}

.photo__container {
  font-size: 14px;
  line-height: 21px;
}

.photo__author {
  font-weight: 400;
}

.photo__like {
  background-color: transparent;
  border: none;
}

.video__title {
  font-size: 18px;
}

.video__description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 38px;
}

.form__fieldset {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-color: #e5e5e5;
  padding-right: 20px;
  padding-left: 20px;
}

.form__contact-item {
  margin-bottom: 16px;
}

.form__contact-label {
  font-size: 14px;
  font-weight: 400;
}

.form__contact-input {
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding-left: 16px;
}

.form__fieldset-title {
  font-size: 18px;
}

.form__feedback {
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
  padding: 16px;
  border: none;
  margin-bottom: 56px;
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;
}

.form__note {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 24px;
}

.modal__title {
  font-size: 21px;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
}

.modal__button {
  width: 180px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__container-success .modal__button {
  width: 280px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__wrapper-text {
  padding: 25px 42px 51px;
  text-align: center;
  text-transform: uppercase;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 156px;
  text-align: center;
  margin: 0 auto 40px;
}

.social__item {
  list-style: none;
}

.social__link {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  min-width: 128px;
}

.copyright__text {
  padding-right: 12px;
  font-size: 14px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list {
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 12px;
}

.header {
  min-height: 56px;
}
/*# sourceMappingURL=style.css.map */