.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}
